.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    border: 2px solid black;
    width: 50%;
    margin: 0 auto;
}

tr,
td {
    border: 1px solid black;
    height: 40px;
}

[data-key=about] {
    /* overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    max-height: 40px; */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.hide {
    display: none;
}

.edit {
    display: flex;
    flex-direction: column;
}

.table {
    text-align: center;
}


/* #pupil {
    fill: red;
} */